<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">
<form action="/add" method="post">
<label>Username:</label>
    <input class="w3-input w3-border" type="text" ng-model="userName" placeholder="username" name="myname">
  <br>

    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw" placeholder="Password" name="mystate">
  <br>

  <input class="w3-btn w3-green w3-ripple" type="submit" value="&#10004;login" > </input>
</form>

</div>


</body>
</html>
