<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my profile</title>
</head>
<body>

<p>Hello</p>
<br>
<form action="/Logout" method="get">
Login account: <p> {{ html_page_name }}</p> </p>
    <input type="submit" value="Logout"> </input>
    </form>
</body>
</html>