<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>


<div ng-app="login" ng-controller="lcontroller" >


    First Name: <input type=text ng-model="firstName"><br>
    Last Name: <input type=text ng-model="lastName"><br>
    <button class="w3-btn w3-ripple" ng-click="login()" ng-model="Login">Login</button>

</div>

    <button class="w3-btn w3-ripple" ng-click="logout()" ng-model="Logout">Logout</button>


<script src="views/loginapp.js"></script>
<script src="views/logincontroller.js"></script>
</body>
</html>